@{
    ViewData["Title"] = "Сохранено";
}
<h1 class="text-center">Успешно сохранено!</h1>

<div class="container w-100 m-auto text-center mt-5" style="font-size:24px"><a asp-controller="Home" asp-action="SaveHuman" class="text-decoration-none">Добавить ещё данных</a></div>